
@{
    ViewBag.Title = "frmCadFun";
}

<h2>frmCadFun</h2>

<form action="FrmConfCadFun" method="post">

    <input type="text" placeholder="Insira o Nome do funcionario" name="txtNome" id="txtNome"><br />
    <input type="text" placeholder="Insira o Usuario do funcionario" name="txtUsuario" id="txtUsuario"><br />
    <input type="text" placeholder="Insira o E-mail" name="txtEmail" id="txtEmail"><br />
    <input type="text" placeholder="Insira o Telefone" name="txtTelefone" id="txtTelefone"><br />
    <input type="text" placeholder="Insira a Senha" name="txtSenha" id="txtSenha"><br />
    <input type="text" placeholder="Insira o nivel de acesso" name="txtPermissao" id="txtPermissao"><br />

    <input type="submit" value="cadastrar">

</form>
