@model FrontEnd.Models.funcionario


@{
    Layout = "";
}


@using (Html.BeginForm("Logar", "Login", FormMethod.Post))
{

    <fieldset>

        <br />
        <h2>Entrar</h2>
        <br />
        <div class="form-group">
            <span class="input-group-addon">
                <i style="font-size:20px;" class="fas fa-envelope"></i>
            </span>
            <div class="input-group">
            

            @Html.EditorFor(x => x.user_funcio, new { htmlAttributes = new { id = "txtEmail", senha = "txtEmail", type = "text", @class = "form-control", placeholder = "Digite seu e-mail", required = "required", maxlength = "30" }})

            @Html.ValidationMessageFor(x => x.user_funcio, "", new { @class = "text-danger" })

        </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i style="font-size:20px;" class="fas fa-lock"></i></span>

                @Html.EditorFor(x => x.senha_funcio, new
           {
               htmlAttributes = new { id = "txtSenha", senha = "txtSenha", type = "password", @class = "form-control", placeholder = "Digite sua senha", required = "required", maxlength = "10" }
           })

                @Html.ValidationMessageFor(x => x.senha_funcio, "", new { @class = "text-danger" })

            </div>
        </div>

        <input type="submit" class="button button-a button-big button-rouded" value="ENTRAR"><br />
        <br />

        <div class="form-group small clearfix">
            Não tem uma conta?
            <a href="~/Cliente/Index" class="forgot-link"> Cadastre-se!</a>
        </div>




    </fieldset>


}

